################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test-Client/v16
/obj/Debug
/bin/Debug
/.vs/Test-Client/DesignTimeBuild/.dtbcache
